html, body{
    background-color: #5CAB7D;
    color: white;
    margin: 0px;
}
#baner{

    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #44633F;
}
.przycisk{
    font-size: 20px;
    text-align: center;
    float: left;
    margin-left: 6.25%;
    margin-right: 6.25%;
    padding: 15px;
    min-width: 12,5%;
    width: auto;
    height: auto;
    border: 5px dotted white;
}
.przycisk:hover{
    background-color: #3F4B3B;
}
a{
    color: white;
    text-decoration: none;
}
#tresc{
    background-color: #5A9367;
    margin-top: 15px;
    margin-bottom: 15px;
    height: auto;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    padding: 20px;
    flex: 1;
    html, body{
    background-color: #5CAB7D;
    color: white;
    margin: 0px;
}
/* #baner{

    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #44633F;
}
.przycisk{
    text-align: center;
    float: left;
    margin-left: 6.25%;
    margin-right: 6.25%;
    padding: 5%;
    width: auto;
    height: auto;
    border: 5px dotted white;
}
a{
    color: white;
    text-decoration: none;
}
#tresc{
    background-color: #5A9367;
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    padding: 20px;
    flex: 1;
} */
#strona {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

}
.TrescPara{
    font-size: 20px;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0px;
    float: left;
    margin-bottom: 0px;
}
#stopka{
    background-color: #44633F;
    text-align: center;
    padding: 5px;
    margin-bottom: 0px;
    font-size: 20px;
}